@media (min-width: 768px){
.o_setting_right_pane .o_field_widget:not(.o_field_boolean) {
    width: auto !important;
    padding: 0px 8px !important;
}
}
.address_head{
    margin-left: 30px;
    margin-bottom: 22px;
}
#billing_country_id{
    width: 58%;
}
#shipping_country_id{
    width: 58%;
}
.whatsapp-btn {
    background-color: #25D366;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.whatsapp-btn:hover {
    background-color: #1DA851;
    color: #fff;
}
.whatsapp-btn .fa-whatsapp {
    font-size: 18px;
}